.env
doc_worker.env
*venv/
__pycache__/
*.pyc
chroma_db/
docs/

test_code/

requirements_bundle.txt
note.txt

intellichat-gcs-service-key.json
gcs-cors-configs.json

api/tests/module/documents/test_files/*
doc_worker/tests/test_files/*
