# THIS .env SAMPLE FILE IS FOR doc_worker/ DIRECTORY
# RENAME THIS FILE TO doc_worker.env or adjust the target .env file 
# in doc_worker/configs/settings.py

# APPLICATION
APP_NAME=
CORS_DEV_ORIGIN=
CORS_PROD_ORIGIN=

# API keys
LLM_API_KEY=
LLM_NAME=

# SECURITY
ENCRYPTION_KEY=

# POSTGRES - Supabase
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DATABASE=

# GCP
CLOUD_TASK_QUEUE_PATH=
QUEUE_NAME=
WORKER_URL=
GCP_PROJECT_ID=
GCP_REGION=
GCS_BUCKET_NAME=
MAIN_API_SERVICE_ACC_EMAIL=

TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMII...NA==\n-----END PRIVATE KEY-----\n
CLIENT_EMAIL=
CLIENT_ID=
AUTH_URI=
TOKEN_URI=
AUTH_PROVIDER_X509_CERT_URL=
CLIENT_X509_CERT_URL=
UNIVERSE_DOMAIN=

# VECTOR DB - QDRANT
QDRANT_API_KEY=
QDRANT_CLUSTER_ENDPOINT=
